# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. MatPlotLib
4. SciPy

|Data Science Tools|
|---|
|TensorFlow|
| SAS |
| Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60

In [13]:
200/60

3.3333333333333335

__Objectives__

* List popular languages for Data Science
* List popular libraries for Data Science
* List popular tools for Data Science

## Author
Jude Will